
.ProductDetail {
  box-sizing: border-box;
  height: 40vh;
}

.İmagePro {
  min-width: 100%;
  min-height: 100%;
}

.DescriptionPro {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}
