
.ContentSection {
    background-color: #232f3e;
    margin-top: 400px;
}

.Turnback {
    background-color: #37475A;
    

}
.Turnback:hover {
    background-color: #485769;
}

.İntroducts {
    width: 100%;
    border-bottom: 1px solid #3a4553;
    line-height: 30px;
}
.İntroducts h1 {
    font-size: 16px;
    font-weight: 900;
}

.İntroducts a {
    font-size: 14px;
    
}
.İntroducts a:hover {
    text-decoration: underline;
}



.CountrySection ul li a:hover {
    text-decoration: underline;
}



  
.Services-Section {
    background-color: #131A22;
}
  
.Services-Section a:hover {
    text-decoration: underline;
}

.Services-Section a span {
    color: #999;
}
  


.Contact-Section {
    background-color: #131A22;
    
}

.Contact-Section a:hover {
    text-decoration: underline;
}